@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-white overflow-x-hidden;
  }
}

@layer utilities {
  .animate-bg-pan {
    animation: bg-pan 15s ease infinite alternate;
  }
}

@keyframes bg-pan {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
